
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zone Membre</h2>

<a href="~/Home/Index" class="btn btn-default">Retour Zone</a>
<a href="~/Membre/Home/Logout"  class="btn btn-danger">Logout</a>

